!!!
%html{:lang => 'eng'}
    %head
        %meta{:charset => 'utf-8'}
        %title= @title || ''
        = stylesheet_link_tag '/stylesheets/baseline.compress.css', '/stylesheets/content.css', '/stylesheets/buttons.css'
        = javascript_script_tag '/javascript/jquery-1.5.1.min.js', '/javascript/hints.js', '/javascript/jquery.dataTables.min.js'
        /[if lte IE 8]
            = javascript_script_tag '/javascript/html5.js'
        :javascript
            $(document).ready(function() {$('input[title]').inputHints();});
            $(document).ready(function() {$('textarea[title]').inputHints();});
    %body#page
        #main-content
            = haml :header
            = haml :flashes
            = yield if block_given?
        
            .width4.stroke
                .width4.first#footer
