%div(class='width4 stroke')
    - if @search.ranked?
        %h2
            Results for #{safe @search.query_term || params[:query_terms]}
        %hr    
        %div(class='width4 stroke')
            %div(class='column width2 first')
                %div(class='outcome')
                    =haml :'results/outcome', :locals => {:winner => winner_key?(:a)}
                
            %div(class='column width2')
                %div(class='outcome')
                    =haml :'results/outcome', :locals => {:winner => winner_key?(:b)}
    - else
        = haml :'results/rank_options' 
                
%div(class='width4 stroke')
    %div(class='column width2 first result_set #{winner_key?(:a, 'winner')}')
 
        - @results[0][:items].each do |item|
            %div(class='result')
                = haml :'results/item', :locals => {:item => item}
    
    %div(class='column width2 result_set #{winner_key?(:b, 'winner')}')


        - @results[1][:items].each do |item|
            %div(class='result')
                = haml :'results/item', :locals => {:item => item}
                
%div(class='width4 stroke' id='permalink')
    %div(class='width4 first' id='permalink')
        = haml :'results/permalink'
