%div(class='width4 stroke')
    :javascript
        #{show_hide_click('#handler_request', '#handler_name')}
    #handler_name_wrapper
        %span(id='handler_name')
            %h2= @handler.name
        %div(id='handler_request' style='display: none;')
            %p.handler_request
                = @handler.request
%div(class='width4 stroke')
    %h3
        Search history
    %hr
    :javascript
        #{js_table('#search_history', 2)}
    %table#search_history
        = haml :'handlers/history_table', :locals => {:searches => @searches, :handler => @handler.id}
