%div(class='width4 stroke')
    %div(class='column width2 first handler_list')
        %h2
            Active handlers | #{link_to('admin', '/handlers/admin')}
        %hr
        :javascript
            #{js_table('#active_handlers')}
        %table#active_handlers
            = haml :'handlers/list_table', :locals => {:handlers => @active_handlers}
            
    %div(class='column width2 handler_list')
        %h2
            Inactive handlers
        %hr
        :javascript
            #{js_table('#inactive_handlers')}
        %table#inactive_handlers
            = haml :'handlers/list_table', :locals => {:handlers => @inactive_handlers}

%div(class='width4 stroke')
    %div(class='column width4')
        = haml :'backtotop'       

